.back, a{
    margin-top: 5px;
    background-color: #2880b9;
    color: rgb(179, 219, 245);
    text-decoration: none;
    width: 70px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}